<div class="card text-center">
    <div class="card-header">
        <img width="150" src="https://uom.lk/sites/default/files/cse/IntelliSense/images/CSE.jpg" /><br><br>
        <h5>Research and Development Project</h5>
        <h5 class="card-title">vue4logs - Automatic Structuring of Textual System Logs</h5>
    </div>
    <div class="card-body">




        <div class="container" style="text-align: left;width: 80%;">
            <p>
                This tool can be used to generate a structured log report when given a raw log file as an input.
            </p>
            <p>
                A log line in a log file may consist of,
            </p>
            <p>&#8226; Header fields - Describing pre-configured set of fields in a structured manner</p>
            <p>&#8226; Natural language log message - Describing system event in natural language</p>
            <strong>
                <p class="card-text">For Example, </p>
            </strong>
            <div class="card">
                <div class="card-body">
                    <strong>
                        <p class="card-text">Raw log line : </p>
                    </strong><br>
                    <p>
                        <span style="color: #ff0000">2019-11-18 20:18:29,467 [INFO]
                            distributedConsensus.LeaderCandidate</span>&nbsp;
                        <span style="color: royalblue;">Participated to a new round of number <span
                                style="color:black">13</span> with rank as <span style="color:black">263</span></span>
                    </p>
                    <table class="table table-striped table-dark">

                        <tbody>
                            <tr>
                                <th scope="row">Header fields</th>
                                <td>2019-11-18 20:18:29,467 [INFO] distributedConsensus.LeaderCandidate</td>

                            </tr>
                            <tr>
                                <th scope="row">Natural language log message</th>
                                <td>Participated to a new round of number <span style="color:rgb(51, 255, 0)">13</span>
                                    with rank as <span style="color:rgb(51, 255, 0)">263</span> </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <p> This tool is able to identify the system events of log messages and generate a representative templates for
                identified events.</p>
            <strong>
                <p class="card-text">To do that the tool requires, </p>
            </strong>
            <br>
            <p>&#8226; A raw log file</p>
            <p>&#8226; A configuration file with header structure</p>
            <div class="card">
                <div class="card-body">
                    <strong>
                        <p class="card-text">Sample Configuration File : (  config.txt    )</p>
                    </strong><br>
                    <p>
                        <span style="color: royalblue;">
                            &#123; 'log_file' : 'Spark' , 'log_format' : '[&lt;Time&gt;] [&lt;Level&gt;] &lt;Content&gt;' &#125;
                        </span>
                    </p>
                </div>


            </div>

            

        </div>
        <br>
        <a routerLink="/parser" class="btn btn-primary">Start &#8611;</a>
        <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
    </div>