<div class="card text-center">
    <div class="card-header">
        <img width="150" src="https://uom.lk/sites/default/files/cse/IntelliSense/images/CSE.jpg" /><br><br>
        <h5>Final Year Project - CSE'16</h5>
        <h5 class="card-title"> Automatic Structuring of Textual System Logs</h5>
    </div>
    <div class="card-body">
        
        


        <div class="container" style="text-align: left;width: 80%;">
            <p>
                This tool can be used to generate a structured log report when given a raw log file as an input.
            </p>
            <p>
                A log line in a log file can have :
            </p>
            <p>&#8226; headers - describing pre-configured info in a structured way</p>
            <p>&#8226; natural language log message - event in human readable form</p>
            <strong>
                <p class="card-text">For Example : </p>
            </strong>
            <div class="card">
                <div class="card-body">
                    <strong>
                        <p class="card-text">Raw log line : </p>
                    </strong><br>
                    <p>
                        <span style="color: #ff0000">2019-11-18 20:18:29,467 [INFO] distributedConsensus.LeaderCandidate</span>&nbsp;
                        <span style="color: royalblue;">Participated to a new round of number 13 with rank as 263</span> 
                    </p>
                    <table class="table table-striped table-dark">
                        
                        <tbody>
                          <tr>
                            <th scope="row">Header fields</th>
                            <td>2019-11-18 20:18:29,467 [INFO] distributedConsensus.LeaderCandidate</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">Natural language log message</th>
                            <td>Participated to a new round of number 13 with rank as 263</td>
                            
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
            </div>
            <br>
            <p> Identifying the system event for each log message and generating a representative templates for
                identified events is the problem which this tool tries to address</p>
            <strong>
                <p class="card-text">To do that the tool requires : </p>
            </strong>
            <br>
            <p>&#8226; Configuration file with header structure</p>
            <p>&#8226; Raw log file</p>


        </div>

        <a routerLink="/parser" class="btn btn-primary">Start &#8611;</a>

    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
</div>